**
!package.json
!README.md
!CHANGELOG.md
!LICENSE
!THIRD_PARTY_NOTICES.md
!media/icon.png
!dist/extension.js
!dist/math-completion.js
!dist/math-scanner.js
!dist/file-patterns.js
!dist/settings-ui.js
!dist/ocr-controller.js
!dist/ui-locale.js
!dist/preview-style.js
!dist/preview-css.js
!dist/render-worker.js
!dist/ocr-worker.js
!dist/tikz-worker.js
!dist/tikz-context.js
!resources/APACHE-2.0.txt
!resources/OCR_THIRD_PARTY_NOTICES.md
!resources/TIKZ_THIRD_PARTY_NOTICES.md
!resources/tikz-GPL-3.0.txt
!resources/tikz-worker-source.tar.gz
!resources/tikz-pgfplots-1.18.3.tar.gz
!resources/panel-icon.svg
!resources/read-clipboard-macos.js
!resources/capture-windows.ps1
